:root {
    --dark-bg-color: rgb(50, 50, 50);
    --dark-text-color: rgb(200, 200, 200);
    --dark-text-color-hightlight: rgb(255, 255, 255);
    --dark-menu-color: rgb(160, 160, 160);
    --dark-menu-color-highlight: rgb(190, 190, 190);
    --dark-second-color: rgb(180, 180, 180);
    --dark-second2-color: rgb(220, 220, 220);
    --dark-opacity-color: rgba(255, 255, 255, 0.05);
}

body.dark {
    background: var(--dark-bg-color);
    min-width: 300px;
}

body.dark *, body.dark *:visited,
body.dark a, body.dark a:visited {
    color: var(--dark-text-color) !important;
    text-decoration: none;
    font-size: 0.9rem;
}

body.dark *:hover, body.dark *:focus,
body.dark a:hover, body.dark a:focus {
    color: var(--dark-text-color-hightlight) !important;
    text-decoration: none;
}

body.dark .custom-logo {
    margin-bottom: 2px;
    opacity: 0.6;

    transition: 0.3s;
}

body.dark .custom-logo:hover {
    opacity: 0.9;
}

body.dark .custom-menu-icon {
    cursor: pointer;
    transition: 0.3s;
}

body.dark .custom-menu-icon a {
    position: relative;
}

body.dark .custom-menu-icon a label {
    width: 24px;
    height: 2px;
    background: var(--dark-menu-color);

    display: block;
    margin-bottom: 5px;
    position: relative;

    border-radius: 3px;

    z-index: 1;

    -webkit-user-select: none;
    user-select: none;

    cursor: pointer;
    left: 2px;
    transition: 0.3s;
}

body.dark .custom-menu-icon a label:nth-child(1) {
    position: absolute;
    top: 5px;
    /*background: red;*/
}

body.dark .custom-menu-icon a label:nth-child(2) {
    position: absolute;
    top: 12px;
    /*background: blue;*/
}

body.dark .custom-menu-icon a label:nth-child(3) {
    position: absolute;
    top: 12px;
    /*background: aqua;*/
}

body.dark .custom-menu-icon a label:nth-child(4) {
    position: absolute;
    top: 20px;
    margin-bottom: 0;
    /*background: green;*/
}

body.dark .custom-menu-icon:hover a label {
    background: var(--dark-menu-color-highlight);
}

body.dark .custom-menu-icon.active a label:nth-child(1) {
    left: -100%;
    opacity: 0;
}

body.dark .custom-menu-icon.active a label:nth-child(2) {
    transform: rotate(45deg);
}

body.dark .custom-menu-icon.active a label:nth-child(3) {
    transform: rotate(-45deg);
}

body.dark .custom-menu-icon.active a label:nth-child(4) {
    left: 100%;
    opacity: 0;
}

body.dark .custom-mobile-background {
    transition: 0.3s;
}

body.dark .custom-mobile-background.active {
}

body.dark .custom-mobile-background.active .custom-mobile-menu {
    margin-left: 0;
}

body.dark .custom-mobile-menu {
    margin-left: -100%;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: var(--dark-bg-color);
    /*background: coral;*/
    transition: 0.5s ease-out;
}

body.dark .border-bottom {
    border-top: solid 1px var(--dark-second-color);
    border-bottom: none !important;
}

body.dark .list-group-item {
    background: none;
    border: none;
    border-bottom: 1px solid var(--dark-second2-color);
}

body.dark .list-group-item:hover {
    color: var(--dark-text-color);
    background: var(--dark-opacity-color);
}

body.dark .list-group-item:hover strong {
    color: var(--dark-text-color-hightlight) !important;
}


body.dark .form-check-input:focus {
    outline: none;
    box-shadow: none;
    border-color: var(--dark-second-color);
}

body.dark .form-check-input:checked {
    background-color: var(--dark-second-color);
    border-color: var(--dark-second-color);
}

body.dark .form-switch .form-check-input {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='gray'/%3e%3c/svg%3e");
}

body.dark .form-switch .form-check-input:focus {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='white'/%3e%3c/svg%3e");
}


